@import 'normalizes.scss'
@import 'resets.scss'

$color-green:#52503B
$color-white: #fff

body
	font-family: 'Montserrat', sans-serif
	color: $color-white
	font-weight: 400

.container
	max-width: 1200px
	margin: 0 auto

// Main section

.main-section
	height: 800px
	min-width: 1140px
	background: url(../img/bg-image.png) center/cover no-repeat
	


// Navigation

.nav-section
	height: 80px
	background-color: $color-green
	margin-bottom: 168px
	&__navigation-container
		padding: 10px 0 10px 0
		height: 60px
		display: flex
		align-items: center
		flex-direction: row
		justify-content: space-between
		
.nav-menu
	&__list
		display: flex
		justify-content: space-between
	&__list-item
		padding-right: 24px 
		font-size: 15px
	&__list-item:last-child
		padding-right: 0px 

// Button

.btn
	width: 117px
	height: 42px
	background-color: #fff
	border: none
	border-radius: 6px
	font-size: 16px
	font-weight: 400
	line-height: 20px
	color:$color-green
	&_green
		background-color: $color-green
		color: #fff
	
	


// Title

.title-container
	max-width: 1200px
	height: 303px
	margin: 0 auto
	text-align: center
	justify-content: space-evenly
	&__logo
		margin-bottom: 34px
	&__logo-image
		width: 256px
		height: 90px
		
	&__title
		font-weight: 400
		font-size: 48px
		line-height: 53px
		margin-bottom: 33px
	&__description
		font-size: 14px
		font-weight: 200
		line-height: 20px
		margin-bottom: 113px
		letter-spacing: 2px

// Second section

.second-section
	height: 410px
	min-width: 1140px
	background-color: #FAF8F0
	display: flex
	align-items: center
	&__content-container
		margin: 0 auto
		width: 800px
		height: 210px
		position: relative
	&__rectangle
		background-color: #E08631
		width: 42px
		height: 8px
		margin: 0 auto
		margin-bottom: 32px
	&__text-container
		width: 768px
		height: 170px
		margin: 0 auto
		display: flex
		flex-direction: row
	&__left-wrapper-container
		width: 360px
		height: 180px
	&__left-wrapper
		color: $color-green
		font-weight: 400
		font-size: 14px
		line-height: 20px
	&__right-wrapper-container
		width: 343px
		height: 80px
		margin-left: 30px
	&__right-wrapper
		color: $color-green
		font-weight: 400
		font-size: 13px
		line-height: 20px
		margin-bottom: 41px 